.BackShaddow{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37,.2);
    z-index: -1;
}
.MoviePage{
    visibility: hidden;
}

#TopImage_Movie_Display{
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 70%;
    border: black solid 1px;
    border-radius: 0px 0px 50px 50px;
    z-index: -2;
}

.Movie_Info_BackerClass{
    position: absolute;
    left: 30%;
    top: 200px;
    background-color: rgb(31, 31, 31,.6);
    border: black solid 1px;
    border-radius: 16px;
    width: 40%;
    height: 1360px;
}

.Topper_BackClass{
    position: relative;
    top: 10px;
    left: 8%;
    width: 84%;
    height: 470px;
    border-radius: 12px;
    background-color: rgb(37, 37, 37,.8);
    border: black solid 1px ;
}

#Movie_Banner_IMG{
    position: relative;
    margin: 15px;
    width: 300px;
    border-radius: 12px;

}

#MovieTitle{
    position: absolute;
    left: 350px;
    top: -15px;
    width: 280px;
    word-wrap: break-word;
    color: white;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Movie_Lenght{
    position: relative;
    top: -30px;
    font-size: 20px;
    color: gray;
}

#MovieYear{
    position: relative;
    top: -37px;
    left: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightgray;
}

.Movie_Info_Ganera_Class{
    position: absolute;
    left: 360px;
    top: 130px;
    width: 120px;
    height: 120px;
    background-color: white;
    border: #252525 solid 2px;
    border-radius: 8px;
    transform: scale(0.85);
}

#Movie_Info_Ganera_IMG{
    position: relative;
    top: 10px;
    left: 10px;
    width: 100px;
}

.Movie_Info_Age_Restriction{
    position: absolute;
    left: 490px;
    top: 130px;
    width: 120px;
    height: 120px;
    background-color: white;
    border: #252525 solid 2px;
    border-radius: 8px;
    transform: scale(0.85);
}

#Age_Restriction_IMG{
    position: relative;
    left: 10px;
    top: 10px;
    width: 100px;
}

.Where_To_Watch_Class{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 350px;
    top: 335px;
    width: 270px;
    height: 100px;

    border: black solid 2px;
    border-radius: 8px;

    background-color: white;
}

#WTW_Netflix, #WTW_HBO, #WTW_Disney, #Apple_TV, #WTW_Youtube_Movie {
    position: relative;
    width: 48px;
    margin-left: 5px;
    top: 10px;
}


#WTW_Netflix_Info, #WTW_HBO_Info, #WTW_Disney_Video, #WTW_Apple_Info, #WTW_Youtube_Info{
    position: relative;
    left: 15px;
    top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
}

#WTW_Date_Updte{
    position: absolute;
    left: 10px;
    top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: gray;
}

.Rating_Class{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 350px;
    top: 262px;
    height: 50px;
    width: 270px;
    background-color: white;
    border: black solid 2px;
    border-radius: 8px;
}

#IMDB_Rating_icon, #Letterboxd_Rating_Icon{
    position: relative;
    width: 60px;
    margin-left: 75px;
    left: -65px;
    top: 10px;
}

.IMDB_Rating_Box{
    position: absolute;
    top: 15px;
    left: 75px;
    width: 65px;
    height: 20px;
    background-color: #1f1f1f ;
    border-radius: 4px;
}
#IMDB_Star, #Letterboxd_Star{
    transform: scale(0.5);
    top: -8px;
    left: 34px;
}

#Letterboxd_Star{
    left: 25px;
}

.Letterboxd_Rating_Box{
    position: absolute;
    top: 15px;
    left: 210px;
    width: 55px;
    height: 20px;
    background-color: #1f1f1f ;
    border-radius: 4px;
}

#IMDB_Rating_Text, #Letterboxd_Rating_Text{
    position: relative;
    top: -15px;
    left: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


#IMDB_Rating_Text{
    color: #f5c518;
}

#Letterboxd_Rating_Text{
    color: #00c030; 
}

.People_Class{
    position: relative;
    left: 8%;
    width: 84%;
    height: 820px;
    background-color:#1f1f1f;
    border: black solid 1px;
    border-radius: 18px;
}

.Director_Class,.Actor1_Class, .Actor2_Class, .Actor3_Class, .Actor4_Class, .Actor5_Class, .Actor6_Class{
    position: relative;
    left: 20px;
    top: -30px;

    width: 270px;
    height: 150px;
    margin-top: 50px;
    background-color: #252525;
    border-radius: 12px;
    border: black solid 2px;
}

.Actor4_Class, .Actor5_Class, .Actor6_Class{
    left: 348px;
    top: -640px;
}

#Director_Name, #Actor1_Name, #Actor2_Name, #Actor3_Name, #Actor4_Name, #Actor5_Name, #Actor6_Name{
    position: relative;
    left: 130px;
    top: -70px;

    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#Director_Role, #Actor1_Role, #Actor2_Role, #Actor3_Role, #Actor4_Role, #Actor5_Role, #Actor6_Role{
    position: relative;
    left: 130px;
    top: -80px;

    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
}

#Director_IMG, #Actor1_IMG, #Actor2_IMG, #Actor3_IMG, #Actor4_IMG, #Actor5_IMG, #Actor6_IMG{
    position: relative;
    top: 25px;
    left: 15px;

    width: 100px;
    height: 100px;

    border: white solid 2px;
    border-radius: 50px;
}